* {
    border: border-box;
}

.background-login-img {
    display: block;
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

@media (max-width : 992px) {
    .background-login-img {
        display: none !important;
    }
}

input#Password,
input#Username {
    border: none !important;
    margin-top: 8px;
    outline: none;
}
.form-password,
.form-input {
    border-radius: 5px;
    padding-left: 10px;
}