/* -------------------------Silder---------------------------------------------- */
.item-slider {
    position: relative;
}

.btn-view-slider {
    position: absolute;
    top: 270px;
    left: 180px;
}

.title-siler {
    position: absolute;
    top: 340px;
    left: 180px;
    color: #fff;
}

.btn-page {
    background-color: rgb(114, 96, 153);
    border-color: rgb(114, 96, 153);
}

.btn-page:focus {
    background-color: rgb(94, 79, 126);
    border-color: rgb(94, 79, 126);
}

.btn-page:active {
    background-color: rgb(94, 79, 126);
    border-color: rgb(94, 79, 126);
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.075) inset, 0 0 8px rgba(114, 96, 153, 0.6);
    outline: 0 none;
}
